@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 0 0 var(--ctn-mar);
    height: var(--header-h);
    width: 100%;
    line-height: var(--header-h);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    z-index: 100;
    mix-blend-mode: difference;
    color: var(--main1-c);
    /* backdrop-filter: blur(7px); */
}
header .gnb ul{
    display: flex;
    justify-content: space-between;
}
header .gnb ul li a{
    position: relative;
    padding: 0 31.5px;
}
header .gnb ul li a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 105%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: var(--main2-c);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}
header .gnb ul li a.active{
    color: var(--txt-c);
    
}
header .gnb ul li a.active::before {
    opacity: 1;
}


footer {
    margin: 34px 0 0 0;
    color: var(--main2-c);
    background-color: var(--txt-c);
    padding: 164px 0 123px 0;
    position: relative;
}
footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 71px;
    background-color: var(--main1-c);
    border-radius: 0 0 30px 30px;
}
footer .thank h2 {
    font-size: 13rem;
    font-weight: 400;
    line-height: 1.3;
}
footer .thank p {
    font-size: 3.2rem;
}
footer .f_info {
    margin: 116px 0 0 0;
    display: flex;
    gap: 0 165px;
}
footer .f_info .contact,
footer .f_info .more {
    display: flex;
    flex-direction: column;
}
footer .f_info .contact h3,
footer .f_info .more h3{
    font-size: 22px;
    margin-bottom: 11px;
}
footer .f_info .contact span,
footer .f_info .more span {
    opacity: .7;
}
footer .f_info .more a span {
    position: relative;
}
footer .f_info .more a span::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='%23F2F0E9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.516375 8.84138L0 8.325L7.56056 0.75H0.591375V0H8.84137V8.25H8.09137V1.28081L0.516375 8.84138Z' /%3E%3C/svg%3E%0A");

}

footer .f_right {
    position: absolute;
    right: var(--wrapper-mar);
    bottom: 123px;
}
footer .f_right::before {
    content: "";
    width: 156px;
    height: 156px;
    position: absolute;
    right: 0;
    top: -231px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' fill='%23EAE7DC' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 36V22.8L6.7 32.15L3.85 29.3L13.2 20H0V16H13.2L3.85 6.7L6.7 3.85L16 13.2V0H20V13.2L29.3 3.85L32.15 6.7L22.8 16H36V20H22.8L32.15 29.3L29.3 32.15L20 22.8V36H16Z' /%3E%3C/svg%3E%0A");
} 
footer .f_right span {
    display: block;
    width: 394px;
    opacity: 0.2;
    text-align: right;
}