@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);


body{
    font-weight: 400;
}
.main {
    height: 100dvh;
    margin-bottom: 350px;
    position: relative;
}

.main .slogan{
    position: relative;
    padding: 180px 0 0 0;
}
.main .slogan h2 {
    font-size: clamp(100px, 6vw, 12rem);

    line-height: 1.3;
    font-weight: 400;
    position: relative;
    width: 87%;
}
.main .slogan h2::before {
    position: absolute;
    content: "";
    top: 52%;
    transform: translateY(-50%);
    left: 510px;
    width: 18%;
    height: 5px;
    background-color: var(--txt-c);
}

.main .slogan .text {
    display: block;
    position: absolute;
    right: var(--ctn-mar);
    top: 264px;
    width: 30%;
    text-align: right;
}
.main .slogan .text strong {
    display: inline-block;
    padding: 7px 38px;
    background-color: var(--main2-c);
    border-radius: 30px;
    margin: 0 0 17px 0 ;
}
.main .slogan .text p {
    opacity: 0.4;
}
.main .scroll {
    position: absolute;
    font-size: 15px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 18px 7px 18px;
    background-color: var(--main2-c);
    border-radius: 30px;
    width: 432px;
    overflow: hidden;
}
.main .scroll span {
    white-space: nowrap;
    display: block;
    transform: translate(-0%);
    animation: scroll_roll 6s  infinite linear;
}

@keyframes scroll_roll {
    0% {transform:  translateX(-0%);}
    100% {transform:  translateX(-123.5%);}
}
.main .photo { 
    position: absolute;
    right: calc(30px + var(--ctn-mar));
    bottom: 7%;
    width: 13.75%;
    height: 24.53%;
}
.main .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: spin 6s infinite linear;

}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}

.about {
    background-color: var(--txt-c);
    border-radius: 40px;
    padding: 95px 0 142px 0;
    color: var(--main2-c);
    margin: 0 var(--ctn-mar);
    z-index: -2;
}
.about .greetings h2 {
    font-size: 32px;
    line-height: 1.3;
}
.about .greetings h2 span {
    position: relative;
    color: var(--txt-c);
    z-index: 1;
}
.about .greetings h2 span::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 90%;
    background-color: var(--main2-c);
    left: -4px;
    top: 3px;
    z-index: -1;
}


.about .list {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 40px;
}
.about .list .tit {
    display: flex;
    margin: 0 0 20px 0;
    align-items: flex-end;
    gap: 10px;
}
.about .list .tit p {
    opacity: 0.5;
}
.about .list .profile,
.about .list .career,
.about .list .skills,
.about .list .license {
    width: calc(33.33% - 40px);
}
.about .list .tit h3 {
    font-size: 25px;
}
.about .list .profile ul{
    margin: 0 0 34px 0;
    font-size: 22px;
    display: flex;
    gap: 17px;
}
.about .list .profile .info dl {
    display: flex;
    flex-direction: row;
}
.about .list .profile .info dt{
    float: left;
    opacity: 0.5;

}
.about .list .profile .info dd {
    margin: 0 0 9px 73px;
}

.about .list .career ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about .list .career ul .career_wrap {
    display: flex;
    gap: 0 10px;
}

.about .list .career ul .career_wrap .date,
.about .list .career ul .work {
    opacity: 0.5;
}


.about .list .skills > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.about .list .skills ul li span{
    display: inline-block;
    padding: 6px 22px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}


.about .list .license dl dt {
    float: left;
    opacity: 0.5;
}

.about .list .license dl dd {
    margin: 0 0 9px 89px;
}


.about .list .education {
    width: 65.2%;;
}
.about .list .education dl dt {
    float: left;
    opacity: 0.5;
}
.about .list .education dl dd {
    margin: 0 0 9px 160px;
    position: relative;
    display: flex;
    gap: 0 23px;
}
.about .list .education dl dd .front {
    position: relative;
}
.about .list .education dl dd .front::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 11px;
    background-color: var(--white50);
    right: -11px;
    top: 7px;
}

.works {
    margin: 150px 0 0 0;
}
.works .tit {
    border-bottom: 2px solid var(--txt-c);
    padding-bottom: 28px;
}
.works .tit .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.works .tit h2 {
    font-size: 50px;
    font-weight: 400;
    position: relative;
    display: inline-block;
}
.works .tit h2::before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    right: -83px;
    top: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 36 36' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 36V22.8L6.7 32.15L3.85 29.3L13.2 20H0V16H13.2L3.85 6.7L6.7 3.85L16 13.2V0H20V13.2L29.3 3.85L32.15 6.7L22.8 16H36V20H22.8L32.15 29.3L29.3 32.15L20 22.8V36H16Z' /%3E%3C/svg%3E%0A");
} 
.works .tit .list_cap {
    display: flex;
    width: 283px;
    justify-content: space-between;
}
.works .list a {
    display: block;
    padding: 37px 0 34px 0;
    border-bottom: 1px solid var(--txt-c);
}

.works .list a:hover {
    background-color: var(--txt-c);
    color: var(--main2-c);
    transition: .3s;
}
.works .list a .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.works .list a .list_sub {
    position: relative;
}
.works .list a .list_sub::before {
    content: "view";
    position: absolute;
    right: -84px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    font-size: 15px;
}
.works .list a .list_sub::after {
    content: "";
    position: absolute;
    right: -34px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--main2-c);
    opacity: 0 ;
    transition: .3s;
}
.works .list a:hover .list_sub::after,
.works .list a:hover .list_sub::before {
    opacity: .5;
    transition: .3s;
} 
.works .list a .right_area {
    display: flex;
    width: 283px;
    justify-content: space-between;
}
.works .list a .right_area span {
    text-align: right;
}

@media screen and (min-width:2200px){ 
    .main .slogan h2 {
    font-size: clamp(60%, 6vw, 15rem);
    line-height: 1.3;
    font-weight: 400;
    position: relative;
    width: 91%;
}
   .main .slogan h2::before {
        position: absolute;
        content: "";
        top: 52%;
        transform: translateY(-50%);
        left: 562px;
        width: 18%;
        height: 5px;
        background-color: var(--txt-c);
   }
}


@media screen and (max-width:1600px){ 


.main .slogan h2::before {
    left: 500px;
}

.main .photo { 
    right: calc(40px + var(--ctn-mar));
    width: 10.75%;
    height: 21.53%;
}

}