/*상세페이지 prj 01 css 입니다*/

:root {

    --back-c: #F2EDE9;
    --point : #5D4F47;
    --dark : #201C1A;
    
}

html , body{
    background-color: var(--back-c);
    color: #201C1A;
}   
header,
header .home {
    font-size: 20px;
    z-index: 100;
    mix-blend-mode: normal;
    background-color: var(--back-c);
    
    color: #201C1A;
}
header {
    border-bottom: 1px solid rgba(32, 28, 26, 0.17);
}

.gnb ul li a.curr{
    color: var(--point) ;
}

header .home a span{
    position: relative;
    padding: 30px;
}
header .home a span::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    width: 14px;
    height: 16px;   
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 16' fill='%235D4F47' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 14.9866H4.69225V9.02328H9.30775V14.9866H13V5.86604L7 1.26674L1 5.86604V14.9866ZM0 16V5.35934L7 0L14 5.35934V16H8.30775V10.0367H5.69225V16H0Z' /%3E%3C/svg%3E%0A");
}

 
.gnb ul li a.curr {
    font-weight: 400;
}


/*sub__본격 내용*/
.intro {
    padding: 95px 0 0 0;
}

.intro .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.intro .txt strong {
    color: var(--point);
    font-weight: 600;
    font-size: 21px;
}

.intro .txt h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0 44px 0;
    line-height: 1.3;
}
.intro .txt p {
    width: 90%;
}
.intro .txt .more a {
    display: inline-block;
    color: var(--back-c);
    background-color: var(--point);
    padding: 4px 28px ;
    border-radius: 30px;
    margin-top: 56px;
    font-size: 15px;
}
.intro .project {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-size: 15px;
}
.intro .project .list ul {
    display: flex;
    gap: 0 40px;
}
.intro .project .list ul li h3 {
    font-weight: 700;
    margin-bottom: 6px;
}
.intro .photo {
    margin-top: 20px;
} 

.overview {
    padding: 166px 0 80px 0;
    margin: 157px 0 0 0;
    background-color: var(--dark);
    color: var(--back-c);
    position: relative;
    overflow: hidden;
}
.overview .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview .left {
    position: relative;
    width: 50%;
}
.overview .left h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 30px 0;
    display: inline-block;
    position: relative;
}

.overview .left .graphic h3 {
    font-size: 21px;
    font-weight: 700;
    margin: 64px 0 30px 0;
}

.overview .left .graphic .photo {
    margin: 50px 0 0 0;
}
.overview .right .photo {
    position: absolute;
    right: 0;
    top:0;
    width: 50%;
}


.guide {
    margin: 100px 0 0 0;
    padding-bottom: 200px;
}

.guide .ctn {
    display: flex;
    justify-content: space-between;
}
.guide h3 {
    margin: 80px 0 80px 0;
    font-size: 21px;
    font-weight: 700;
}
.guide .ctn .logo .logo01 {
    padding-top: 30px;
}
.guide .banner {
    display: flex;
    align-items: flex-start;
    margin-top: 170px ;
    gap: 0 110px;
}
.guide .banner h3 {
    margin-top: 0;
}
.guide .banner img {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.03);
    width: 426px;
    height: 453px;
}