@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);


.main_content {
    margin: 53px 0 0 0;
    
}
.main_content .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
}
.main_content .popup{
    width: 49.25%;
    height: 49.81%;
    border-radius: 20px 20px  20px 80px;
    overflow: hidden;
    position: relative;

}
.main_content .popup .swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo {
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    
}
.main_content .popup .swiper .ctrl_btn {
    width: 177px;
    height: 49px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 20px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.main_content .popup .swiper .ctrl_btn::after,
.main_content .popup .swiper .ctrl_btn::before {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/popup_clip.svg);
    content: "";
    right: 0;
    top: -36%;
}
.main_content .popup .swiper .ctrl_btn::before {
    left: -10%;
    bottom: 0;
    top: auto;
    right: auto;
}

.main_content .popup .swiper .ctrl_btn .prev,
.main_content .popup .swiper .ctrl_btn .next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 14' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51754 13.0351L0 6.51754L6.51754 0L7.47572 0.958179L1.91619 6.51754L7.47572 12.0769L6.51754 13.0351Z' /%3E%3C/svg%3E%0A");    
}
.main_content .popup .swiper .ctrl_btn .next {
    transform: rotate(180deg);
}
.main_content .popup .swiper .ctrl_btn .stop,
.main_content .popup .swiper .ctrl_btn .play {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 9px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.80859 10.165V0H8.71289V10.165H5.80859ZM0 10.165V0H2.9043V10.165H0Z' /%3E%3C/svg%3E%0A");
}
.main_content .popup .swiper .ctrl_btn .play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 12' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000648492 0.000324163L9.16602 5.83366L-0.000649512 11.667L-0.000648492 0.000324163Z' /%3E%3C/svg%3E%0A");
    display: none;
}
.main_content .popup .swiper .ctrl_btn .paging {
    width: 53px;
    display: flex;
    justify-content: center;
}

.main_content .popup .swiper .ctrl_btn .swiper-pagination-current,
.main_content .popup .swiper .ctrl_btn .swiper-pagination-total {
    padding: 0 7px;
}
.main_content .popup .swiper .ctrl_btn .swiper-pagination-current {
    color: var(--main1-c);
    font-weight: 700;
}
.main_content .mayor {
    width: 49.25%;
    height: 36.11%;
    position: relative;
}
.main_content .mayor .box {
    border-radius: 20px ;
    overflow: hidden;
    position: relative;
    background-color: var(--main1-cw);
    padding: 52px 0 0 51px;
    width: 100%;
    height: 100%;
    aspect-ratio: 788 / 390;
} 

.main_content .mayor .photo {
    position: absolute;
    right: 0;
    top: 0;

}

.main_content .mayor .ico_list {
    position: absolute;
    bottom: -9.2353em;
    left: 0;
    width: 100%;
}
.main_content .mayor .ico_list ul {
    display: flex;
    justify-content: space-between;
    
}
.main_content .mayor .ico_list ul li a {
    display: flex;
    width: 8.2353em;
    height: 8.2353em;
    border-radius: 1.1765em;
    border: 1px solid var(--main1-cw);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px 0;
    font-size: clamp(13px, 1vw ,15px);
    transition: transform .3s;
}
.main_content .mayor .ico_list ul li a:hover {
    transform: translateY(-10px);
}