@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);


.main_content {
    margin: 53px 0 0 0;
    
}
.main_content .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
    height: 53.98%;
}
.main_content .wrapper .ctn_wrap {
    display: flex;
    justify-content: flex-end;
    width: 57.77%;
    gap: 0 24px;
}
.main_content .popup{
    width: 55.76%;
    height: 100%;
    border-radius: 20px 20px  20px 80px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 0.796 / 1;

}
.main_content .popup .swiper {
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo {
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    
}
.main_content .popup .swiper .ctrl_btn {
    width: 177px;
    height: 49px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 20px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.main_content .popup .swiper .ctrl_btn::after,
.main_content .popup .swiper .ctrl_btn::before {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/popup_clip.svg);
    content: "";
    right: 0;
    top: -36%;
}
.main_content .popup .swiper .ctrl_btn::before {
    left: -10%;
    bottom: 0;
    top: auto;
    right: auto;
}

.main_content .popup .swiper .ctrl_btn .prev,
.main_content .popup .swiper .ctrl_btn .next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 14' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51754 13.0351L0 6.51754L6.51754 0L7.47572 0.958179L1.91619 6.51754L7.47572 12.0769L6.51754 13.0351Z' /%3E%3C/svg%3E%0A");    
}
.main_content .popup .swiper .ctrl_btn .next {
    transform: rotate(180deg);
}
.main_content .popup .swiper .ctrl_btn .stop,
.main_content .popup .swiper .ctrl_btn .play {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 9px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.80859 10.165V0H8.71289V10.165H5.80859ZM0 10.165V0H2.9043V10.165H0Z' /%3E%3C/svg%3E%0A");
}
.main_content .popup .swiper .ctrl_btn .play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 12' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000648492 0.000324163L9.16602 5.83366L-0.000649512 11.667L-0.000648492 0.000324163Z' /%3E%3C/svg%3E%0A");
    display: none;
}
.main_content .popup .swiper .ctrl_btn .paging {
    width: 53px;
    display: flex;
    justify-content: center;
}

.main_content .popup .swiper .ctrl_btn .swiper-pagination-current,
.main_content .popup .swiper .ctrl_btn .swiper-pagination-total {
    padding: 0 7px;
}
.main_content .popup .swiper .ctrl_btn .swiper-pagination-current {
    color: var(--main1-c);
    font-weight: 700;
}
.main_content .sug {
    width: 41.10%;
}

.main_content .sug .tit h2 {
    font-family: var(--nuli);
    font-size: 28px;
    margin: 0 0 7px 0;
    color: var(--tit-c);
    font-weight: 500;

}
.main_content .sug .sug_list {
    margin: 21px 0 0 0;
}

.main_content .sug .sug_list ul li a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #ededed;
}

.main_content .sug .sug_list ul li a h3 {
    font-size: 19px;
    font-weight: 600;
    color: var(--tit-c);
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_content .sug .sug_list ul li a:hover h3 {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.main_content .sug .sug_list ul li a span {
    font-size: 15px;
}
.main_content .sug .sug_list ul li.first a {
    display: block;
    padding: 29px 22px;
    border-radius: 10px;
    background-color: var(--main1-c);
    color: var(--white);
    margin-bottom: 16px;
}
.main_content .sug .sug_list ul li.first a h3 {
    color: var(--white);
    white-space: wrap;
    text-overflow: unset;
    font-size: 20px;
    font-weight: 600;
}
.main_content .sug .sug_list ul li.first a p {
    margin: 17px 0 25px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    height: 4.5em;
    overflow: hidden;
    word-break: normal;
    font-size: 15px;
}
.main_content .sug .sug_list ul li:last-child {
    display: none;
}
.main_content .mayor {
    position: relative;
    width: 40.625%;
    padding: 133px 0 0 5%;    
}
.main_content .mayor::after {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(var(--main1-c), var(--white));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .12;
    content: "";
    width: calc(100% + var(--wrapper-mar) + 50px);
    height: 100%;
    border-radius: 230px 0 0 0;
    z-index: -10;
}
.main_content .mayor .tit {
    position: relative;
}
.main_content .mayor .tit::after {
    position: absolute;
    left: 0;
    top: -40px;
    content: "";
    width: 90%;
    height: 100%;
    background: url(../images/main/mayor02.png) no-repeat center center / contain;
    z-index: -2;
}
.main_content .mayor .tit strong {
    margin: 0 0 15px 0;
    display: inline-block;
}
.main_content .mayor .tit h2 {
    font-size: 22px;
    color: var(--tit-c);
    font-weight: 600;
}
.main_content .mayor .tit h2 span.name {
    font-size: 59px;
    color: var(--main1-c);
    padding: 0 0 0 24px;
}
.main_content .mayor .more a {
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid var(--main1-c);
    color: var(--main1-c);
    border-radius: 40px;
    margin: 20px 0 0 0;
    transition: .3s;
}
.main_content .mayor .more a:hover {
    background-color: var(--main1-c);
    color: var(--white);
}
.main_content .mayor .photo {
    position: absolute;
    right: -10%;
    top: 30px;
    z-index: -1;
}
.main_content .mayor .ico_list {
    margin: 130px 0 0 0;
}
.main_content .mayor .ico_list ul {
    display: flex;
    gap: 0 1.4118em;
}
.main_content .mayor .ico_list ul li a{
    width: 98px;
    height: 98px;
    border-radius: 10px;
    border: 1px solid var(--main1-cw);
    background-color: var(--white);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8.9px rgba(0, 0, 0, 0.06);
    transition: .4s;
}
    
.main_content .mayor .ico_list ul li a:hover {
    transform: translateY(-10px);
}
.main_content .mayor .ico_list ul li a .ico {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_content .mayor .ico_list ul li a:hover span {
    font-weight: 500;
}

@media screen and (max-width:1440px){
    .main_content .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0 24px;
}
.main_content .wrapper .ctn_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0 24px;
}
.main_content .popup {
    width: 46%;
}
.main_content .sug {
    width: 50%;
}
.main_content .sug .sug_list ul li:last-child {
    display: block;
}
.main_content .mayor {
    margin: 40px 0 0 0;
    width: 100%;
    padding-left: 11%;
    padding-top: 7%;
}
.main_content .mayor .tit,
.main_content .mayor .more {
    padding: 0 0 0 11%;
}
.main_content .mayor .photo {
    right: 10%;
}
.main_content .mayor .ico_list  { 
    margin-top: 50px;
}
}

@media screen and (max-width:1170px){
    .main_content .sug .sug_list ul li:last-child {
    display: none;
}
}

@media screen and (max-width:1024px){
    .container {
        margin: 150px 0 0 0;
    }

.main_content .sug .sug_list ul li.first a p {
    -webkit-line-clamp: 2;
    height: 3em;
}

}
@media screen and (max-width:1024px){
    .main_content .sug .sug_list ul li:nth-child(3) {
    display: none;
}
}



@media screen and (max-width:768px){
    .main_content .wrapper .ctn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 0 24px;
}
.main_content .popup {
    width: 100%;
    aspect-ratio: 464 / 583;
}
.main_content .sug {
    width: 100%;
    margin-top: 36px;
}
.main_content .sug .sug_list ul li.first a p{
    -webkit-line-clamp: 2;
    height: 3em;
    overflow: hidden;
}

.main_content .sug .sug_list ul li:nth-child(3){
    display: block;
}

.main_content .mayor {
    padding-top: 100px;
    padding-left: 3%;
    height: 361px;
}
.main_content .mayor::after {
    border-radius: 150px 0 0 0;
} 
.main_content .mayor .tit strong {
    font-size: 13px;
    margin-bottom: 10px;
}
.main_content .mayor .tit h2 {
    font-size: 18px;
}
.main_content .mayor .tit h2 span {
    font-size: 32px;
}
.main_content .mayor .more {
    font-size: 13px;
}
.main_content .mayor .ico_list ul {
    justify-content: center;
}
.main_content .mayor .photo {
    right: 0;
    width: 65%;
    height: 100%;
}
.main_content .mayor .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width:550px){
    .main_content .mayor {
        padding-top: 100px;
        padding-left: 0;
        height: 361px;
    }
    .main_content .mayor::after {
        border-radius: 90px 0 0 0;
    }
    .main_content .mayor .tit::after {
        left: 40px;
    }
    .main_content .mayor .photo {
        right: -7%;
    }
    .main_content .mayor .ico_list ul {
        gap: 0 4%;
    }
    .main_content .mayor .ico_list ul li a {
        width: clamp(74px, 19vw ,90px);
        height: clamp(74px, 19vw ,90px);
        font-size: 12px;
    }
    .main_content .mayor .ico_list ul li a .ico {
        width: 35px;
        height: 35px;
    }
    .main_content .mayor .ico_list ul li a .ico img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width:450px){
    .main_content .mayor {
        padding-top: 50px;
    }
    .main_content .mayor .photo {
        right: -11%;
    }
    .main_content .mayor .tit h2 span.name {
        padding-left: 0;
    }
}

.news {
    margin: 100px 0 0 0;
}
.news .news_wrap {
    width: calc(100% - var(--wrapper-mar));
    margin-left: var(--wrapper-mar);
    display: flex;
    gap: 0 80px;
}
.news .tab_list ul {
    width: 180px;
}
.news .tab_list ul li button {
    display: inline-block;
    padding: 12.5px 16px;
}
.news .tab_list ul li.active button {
    padding: 8px 16px 8px 30px;
    border-radius: 30px;
    background-color: var(--main1-c);
    color: var(--white);
    position: relative;
}
.news .tab_list ul li.active button::after {
    position: absolute;
    width: 8px;
    height: 8px;
    content: "";
    border-radius: 50%;
    background-color: var(--white);
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.news .tab_ctn .tab_item {
    display: none;
}
.news .tab_ctn .tab_item.active {
    display: block;
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide {
    width: 342px;
    height: 348px;
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px 10px 10px 10px;
    background-color: var(--main1-cw);
    padding: 34px 43px  0 43px ;
    box-shadow: 6px -1px 8.1px rgba(0, 0, 0, 0.03);
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide a .cate {
    display: inline-block;
    padding: 5px 18px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--main2-c);
    font-size: 15px;
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide a h4 {
    font-size: 28px;
    font-weight: 600;
    color: var(--tit-c);
    margin: 16px 0 28px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    height: 3.9em;
    overflow: hidden;
    word-break: normal;
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide a p {
    font-size: 15px;
    margin-bottom: 21px;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    height: 3em;
    overflow: hidden;
}
.news .tab_ctn .tab_item .list .swiper .swiper-slide a .date {
    font-size: 15px;
}