@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.main_util {
    margin: 60px 0 0 0;
}
.main_util .wrapper {
    display: flex;
    gap: 0 13%;
}
.main_util .weather {
    padding-left: 62px;
    position: relative;
}
.main_util .weather::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='%2311111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.923 6.769V0H20.923V6.769H18.923ZM29.9155 11.346L28.55 9.9805L33.2655 5.077L34.719 6.542L29.9155 11.346ZM33.077 20.923V18.923H39.846V20.923H33.077ZM18.923 39.846V33.1155H20.923V39.846H18.923ZM10.0075 11.2845L5.077 6.5805L6.5805 5.1655L11.3845 9.9305L10.0075 11.2845ZM33.254 34.769L28.55 29.8655L29.904 28.55L34.6805 33.242L33.254 34.769ZM0 20.923V18.923H6.769V20.923H0ZM6.542 34.769L5.1655 33.2655L9.8805 28.55L10.6 29.246L11.3575 29.954L6.542 34.769ZM19.932 29.923C17.1567 29.923 14.7947 28.9517 12.846 27.009C10.8973 25.0663 9.923 22.7073 9.923 19.932C9.923 17.1567 10.8943 14.7947 12.837 12.846C14.7797 10.8973 17.1387 9.923 19.914 9.923C22.6893 9.923 25.0513 10.8943 27 12.837C28.9487 14.7797 29.923 17.1387 29.923 19.914C29.923 22.6893 28.9517 25.0513 27.009 27C25.0663 28.9487 22.7073 29.923 19.932 29.923ZM19.923 27.923C22.123 27.923 24.0063 27.1397 25.573 25.573C27.1397 24.0063 27.923 22.123 27.923 19.923C27.923 17.723 27.1397 15.8397 25.573 14.273C24.0063 12.7063 22.123 11.923 19.923 11.923C17.723 11.923 15.8397 12.7063 14.273 14.273C12.7063 15.8397 11.923 17.723 11.923 19.923C11.923 22.123 12.7063 24.0063 14.273 25.573C15.8397 27.1397 17.723 27.923 19.923 27.923Z' /%3E%3C/svg%3E%0A");
}
.main_util .weather strong{
    color: var(--main1-c);
    font-size: 13px;
}
.main_util .weather .w_list {
    display: flex;
    align-items: flex-end;
    gap: 0 12px;
}

.main_util .weather .w_list h2 {
    font-family: var(--nuli);
    margin: 3px 0 0 0;
    font-weight: 500;
    font-size: 22px;
    color: var(--tit-c);
}
.main_util .weather .w_list dl {
    display: flex;
    gap: 0 14px;
}
.main_util .weather .w_list dl dt {
    position: relative;
}
.main_util .weather .w_list dl dt::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #ededed;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}
.main_util .weather .w_list dl dd.wind_stat {
    color: var(--main1-c);
}
.main_util .search {
    width: 100%;
    max-width: 708px;
}
.main_util .search .sch_wrap {
    border: 3px solid var(--main1-c);
    border-radius: 50px;
    height: clamp(53px, 10vw ,67px);
    padding: 20px 32px 20px 39px;
    display: flex; /*검색어입력 - 버튼 좌우배치*/
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main_util .search .sch_wrap label {
    display: none;
}
.main_util .search .sch_wrap input[type="text"] {
    height: 45px;
    color: var(--tit-c);
    border: none;
    outline: none;
    width: 100%;
}
.main_util .search .sch_wrap input[type="submit"] {
    width: 45px;
    height: 45px;
    border: none;
    color: transparent;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='%230074D8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7733 18.3647L10.4315 12.0227C9.9355 12.4069 9.3635 12.7117 8.7155 12.937C8.0675 13.1623 7.37483 13.275 6.6375 13.275C4.78483 13.275 3.21542 12.6319 1.92925 11.3457C0.643083 10.0594 0 8.49 0 6.6375C0 4.785 0.643083 3.21558 1.92925 1.92925C3.21542 0.643083 4.78483 0 6.6375 0C8.49 0 10.0593 0.643083 11.3455 1.92925C12.6318 3.21558 13.275 4.785 13.275 6.6375C13.275 7.37883 13.1623 8.0715 12.937 8.7155C12.7115 9.3595 12.4067 9.9275 12.0227 10.4195L18.3705 16.7733L16.7733 18.3647ZM6.6375 11C7.8515 11 8.88208 10.5764 9.72925 9.72925C10.5764 8.88225 11 7.85167 11 6.6375C11 5.42333 10.5764 4.39275 9.72925 3.54575C8.88208 2.69858 7.8515 2.275 6.6375 2.275C5.42333 2.275 4.39267 2.69858 3.5455 3.54575C2.6985 4.39275 2.275 5.42333 2.275 6.6375C2.275 7.85167 2.6985 8.88225 3.5455 9.72925C4.39267 10.5764 5.42333 11 6.6375 11Z' /%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1024px){
        .main_util {
        margin: 18px 0 0 0;
    }
        .main_util .wrapper {
        display: block;
        gap: 0 13%;
    }
    .main_util .search {
        margin: 14px 0 0 0;
        max-width: none;
    }
    .main_util .search .sch_wrap {
        padding: 15px 13px 15px 29px;
    }
}
.main_content {
    margin: 53px 0 0 0;
    
}
.main_content .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
    height: 53.98%;
}
.main_content .wrapper .ctn_wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 57.77%;
    gap: 0 24px;
}
.main_content .popup{
    width: 55.76%;
    height: 100%;
    border-radius: 20px 20px  20px 80px;
    overflow: hidden;
    position: relative;
}
.main_content .popup .swiper {
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo {
    width: 100%;
    height: 100%;
}
.main_content .popup .swiper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    
}
.main_content .popup .swiper .ctrl_btn {
    width: 177px;
    height: 49px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 20px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.main_content .popup .swiper .ctrl_btn::after,
.main_content .popup .swiper .ctrl_btn::before {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/popup_clip.svg);
    content: "";
    right: 0;
    top: -36%;
}
.main_content .popup .swiper .ctrl_btn::before {
    left: -10%;
    bottom: 0;
    top: auto;
    right: auto;
}

.main_content .popup .swiper .ctrl_btn .prev,
.main_content .popup .swiper .ctrl_btn .next {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 14' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.51754 13.0351L0 6.51754L6.51754 0L7.47572 0.958179L1.91619 6.51754L7.47572 12.0769L6.51754 13.0351Z' /%3E%3C/svg%3E%0A");    
}
.main_content .popup .swiper .ctrl_btn .next {
    transform: rotate(180deg);
}
.main_content .popup .swiper .ctrl_btn .stop,
.main_content .popup .swiper .ctrl_btn .play {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 9px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 11' fill='%23111111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.80859 10.165V0H8.71289V10.165H5.80859ZM0 10.165V0H2.9043V10.165H0Z' /%3E%3C/svg%3E%0A");
}
.main_content .popup .swiper .ctrl_btn .play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 12' fill='%23111' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000648492 0.000324163L9.16602 5.83366L-0.000649512 11.667L-0.000648492 0.000324163Z' /%3E%3C/svg%3E%0A");
    display: none;
}
.main_content .popup .swiper .ctrl_btn .paging {
    width: 53px;
    display: flex;
    justify-content: center;
}

.main_content .popup .swiper .ctrl_btn .swiper-pagination-current,
.main_content .popup .swiper .ctrl_btn .swiper-pagination-total {
    padding: 0 7px;
}
.main_content .popup .swiper .ctrl_btn .swiper-pagination-current {
    color: var(--main1-c);
    font-weight: 700;
}
.main_content .sug {
    width: 41.10%;
}

.main_content .sug .tit h2 {
    font-family: var(--nuli);
    font-size: 28px;
    margin: 0 0 7px 0;
    color: var(--tit-c);
    font-weight: 500;

}
.main_content .sug .sug_list {
    margin: 21px 0 0 0;
}

.main_content .sug .sug_list ul li a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #ededed;
}

.main_content .sug .sug_list ul li a h3 {
    font-size: 19px;
    font-weight: 600;
    color: var(--tit-c);
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_content .sug .sug_list ul li a:hover h3 {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.main_content .sug .sug_list ul li a span {
    font-size: 15px;
}
.main_content .sug .sug_list ul li.first a {
    display: block;
    padding: 29px 22px;
    border-radius: 10px;
    background-color: var(--main1-c);
    color: var(--white);
    margin-bottom: 16px;
}
.main_content .sug .sug_list ul li.first a h3 {
    color: var(--white);
    white-space: wrap;
    text-overflow: unset;
    font-size: 20px;
    font-weight: 600;
}
.main_content .sug .sug_list ul li.first a p {
    margin: 17px 0 25px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    height: 4.5em;
    overflow: hidden;
    word-break: normal;
    font-size: 15px;
}

.main_content .mayor {
    position: relative;
    width: 40.625%;
    padding: 133px 0 0 5%;    
}
.main_content .mayor::after {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(var(--main1-c), var(--white));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .12;
    content: "";
    width: calc(100% + var(--wrapper-mar) + 30px);
    height: 100%;
    border-radius: 230px 0 0 0;
    z-index: -10;
}
.main_content .mayor .tit {
    position: relative;
}
.main_content .mayor .tit::after {
    position: absolute;
    left: 0;
    top: -40px;
    content: "";
    width: 90%;
    height: 100%;
    background: url(../images/main/mayor02.png) no-repeat center center / contain;
    z-index: -2;
}
.main_content .mayor .tit strong {
    margin: 0 0 15px 0;
    display: inline-block;
}
.main_content .mayor .tit h2 {
    font-size: 22px;
    color: var(--tit-c);
    font-weight: 600;
}
.main_content .mayor .tit h2 span.name {
    font-size: 59px;
    color: var(--main1-c);
    padding: 0 0 0 24px;
}
.main_content .mayor .more a {
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid var(--main1-c);
    color: var(--main1-c);
    border-radius: 40px;
    margin: 20px 0 0 0;
    transition: .3s;
}
.main_content .mayor .more a:hover {
    background-color: var(--main1-c);
    color: var(--white);
}
.main_content .mayor .photo {
    position: absolute;
    right: -10%;
    top: 30px;
    z-index: -1;
}
.main_content .mayor .ico_list {
    margin: 130px 0 0 0;
}
.main_content .mayor .ico_list ul {
    display: flex;
    gap: 0 1.4118em;
}
.main_content .mayor .ico_list ul li a{
    width: 98px;
    height: 98px;
    border-radius: 10px;
    border: 1px solid var(--main1-cw);
    background-color: var(--white);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8.9px rgba(0, 0, 0, 0.06);
    transition: .4s;
}
    
.main_content .mayor .ico_list ul li a:hover {
    transform: translateY(-10px);
}
.main_content .mayor .ico_list ul li a .ico {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_content .mayor .ico_list ul li a:hover span {
    font-weight: 500;
}

@media screen and (max-width:1440px){
    .main_content .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0 24px;
}
.main_content .wrapper .ctn_wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    gap: 0 24px;
}
.main_content .popup {
    aspect-ratio: 464 / 583;
}
.main_content .sug {
    width: 40%;
}
.main_content .mayor {
    margin: 40px 0 0 0;
    width: 100%;
    padding-left: 11%;
    padding-top: 7%;
}
.main_content .mayor .tit,
.main_content .mayor .more {
    padding: 0 0 0 11%;
}
.main_content .mayor .photo {
    right: 10%;
}
.main_content .mayor .ico_list  { 
    margin-top: 50px;
}
}
@media screen and (max-width:1024px){
    .container {
        margin: 150px 0 0 0;
    }
}

@media screen and (max-width:768px){
    .main_content .wrapper .ctn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 0 24px;
}
.main_content .popup {
    width: 100%;
    aspect-ratio: 464 / 583;
}
.main_content .sug {
    width: 100%;
    margin-top: 36px;
}
.main_content .sug .sug_list ul li.first a p{
    -webkit-line-clamp: 2;
    height: 3em;
    overflow: hidden;
}
.main_content .mayor {
    padding-top: 100px;
    padding-left: 3%;
    height: 361px;
}
.main_content .mayor::after {
    border-radius: 150px 0 0 0;
} 
.main_content .mayor .tit strong {
    font-size: 13px;
    margin-bottom: 10px;
}
.main_content .mayor .tit h2 {
    font-size: 18px;
}
.main_content .mayor .tit h2 span {
    font-size: 32px;
}
.main_content .mayor .more {
    font-size: 13px;
}
.main_content .mayor .ico_list ul {
    justify-content: center;
}
.main_content .mayor .photo {
    right: 0;
    width: 65%;
    height: 100%;
}
.main_content .mayor .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width:550px){
    .main_content .mayor {
        padding-top: 100px;
        padding-left: 0;
        height: 361px;
    }
    .main_content .mayor::after {
        border-radius: 90px 0 0 0;
    }
    .main_content .mayor .tit::after {
        left: 40px;
    }
    .main_content .mayor .photo {
        right: -7%;
    }
    .main_content .mayor .ico_list ul {
        gap: 0 4%;
    }
    .main_content .mayor .ico_list ul li a {
        width: clamp(74px, 19vw ,90px);
        height: clamp(74px, 19vw ,90px);
        font-size: 12px;
    }
    .main_content .mayor .ico_list ul li a .ico {
        width: 35px;
        height: 35px;
    }
    .main_content .mayor .ico_list ul li a .ico img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width:450px){
    .main_content .mayor {
        padding-top: 50px;
    }
    .main_content .mayor .photo {
        right: -11%;
    }
    .main_content .mayor .tit h2 span.name {
        padding-left: 0;
    }
}

.news {
    margin: 100px 0 0 0;
}
.news .news_wrap {
    width: calc(100% - var(--wrapper-mar));
    margin-left: var(--wrapper-mar);
    border: 1px solid red;
}