@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

.visual {
    position: relative;
}
.visual .swiper {
    width: 100%;
    height: 100dvh;
}
.visual .swiper .swiper-slide {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.visual .swiper .swiper-slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper .swiper-slide .photo::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: var(--dark);
    opacity: 0.7;
    z-index: 5;
    transition: 2s;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 4s;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo::before {
    opacity: 0;
}
.visual .swiper .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper .swiper-slide .txt {
    z-index: 10;
    text-align: center;
}
.visual .swiper .swiper-slide .txt h2 {
    font-size: clamp(40px, 4vw, 60px);
    white-space: nowrap;
}
.visual .paging {
    position: absolute; 
    left:0; 
    bottom: 36%; 
    z-index:10; 
    width:100%; 
    display: flex; 
    justify-content: center; 
    gap: 0 5px;
}

.visual .paging .swiper-pagination-bullet {
    width: auto; 
    height: auto; 
    background: transparent; 
    margin: 0; 
    opacity: 1; 
    position: relative; 
    cursor: pointer; 
    border-radius: 50%;
    display:flex; 
    justify-content:center; 
    align-items:center; /* 가운데 동그라미와 svg선을 가운데 정렬하기 위한 스타일 */
}

.visual .paging .swiper-pagination-bullet:after {
    content:""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background-color: var(--light); /* 가운데 동그라미 스타일 */
}
.visual .paging .swiper-pagination-bullet svg {
    width:16px; 
    height:16px; 
    overflow:visible; /* 원을 그리는 동그라미의 크기 */
    transform:rotate(-90deg); /* 12시 방향에서 시작하기 위해서 회전 */
}

.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent; 
    stroke-linecap: round;
    stroke: var(--light); 
    stroke-width: 5; /* 동그라미를 그리는 선의 색상/두께 */
    stroke-dasharray: 250; 
    stroke-dashoffset: 250; /* 선 총 길이인데 너무 길면 애니메이션이 빨리 끝나고 짧으면 다 안그려짐 */
}

.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 12.3s ease 1 forwards; /* 애니메이션이름, 시간, 가속도, 1번실행, 마지막상태유지 */
}

@keyframes progress{
0% { stroke-dashoffset: 250 }
100% { stroke-dashoffset: 0 }
}

.visual .scroll .scr_txt {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 13px;
    font-family: "SUIT";
    z-index: 20;

}
.visual .scroll .scr_bar {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 7%;
    background-color: var(--white20);
    overflow: hidden;
    z-index: 20;

}
.visual .scroll .scr_bar::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 40%;
    background-color: var(--light);
    animation: scr_bar 4s infinite linear;
    opacity: .8;
}

@keyframes scr_bar {
    0% { top: 0%;}
    50% { top: 50%;}
    100% {  top: 100%;}
}


@media screen and (max-width:768px){

    .visual {
        height: 90dvh;
    }

    .visual .txt {
        top: 35%;
    }
    .visual .swiper {
        width: 100%;
        height: 100%;
    }
    .visual .swiper .swiper-slide .txt h2 {
    white-space: wrap;
    margin-bottom: 13px;
    }
    .visual .paging {
        bottom:10%; 
    }

    .visual .scroll {
        display: none;
    }
}
.slogan {
    margin: 195px 0 0 0;
    width: 100%;
    position: relative;

}
.slogan .slogan_wrap {
    margin-left: var(--wrapper-mar);
    width: calc(50% + 742px);
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
}

.slogan .tit {
    width: 50.69%;
    padding: 120px 0 0 0;
}

.slogan .tit h2 {
    margin: 30px 0 30px 0;
    font-size: var(--titsize);
    line-height: 1.3;
    font-weight: 700;
}

.slogan .slogan_wrap .photo_wrap {
    width: calc(100% - 210px);
    overflow: hidden;
    height: 640px;
}
.slogan .slogan_wrap .photo_wrap ul {
    display: flex;
    gap: 0 50px;
    animation: slogan_roll 40s  infinite linear;

}
.slogan .slogan_wrap .photo_wrap::after {
    position: absolute;
    content: "";
    left: -10%;
    bottom: -280px;
    width: 42%;
    height: 29%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/graphics_cloud.png);
    z-index: -1;
}

@keyframes slogan_roll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-222.2%); }
}

.slogan .slogan_wrap .photo_wrap ul li:nth-child(even) .photo {
    transform: translateY(100px);
} 
.slogan .slogan_wrap .photo_wrap ul li .photo {
    width: 342px;
    height: 465px;
    border-radius: 10px;
    overflow: hidden;
}
.slogan .slogan_wrap .photo_wrap ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .slogan {
        margin: 130px 0 0 0;
    }
    .slogan .slogan_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0 64px;
        margin: 0;
    }
    
    .slogan .tit {
        width: 100%;
        text-align:  center;
        padding: 0;
    }
    
    .slogan .tit h2 {
        
        margin: 19px 0;
    }
     
    .slogan .slogan_wrap .photo_wrap {
        width: 100%;
        height: 280px;
        margin-top: 64px;
    }
    .slogan .slogan_wrap .photo_wrap ul {
        display: flex;
        gap: 0 21px;
        animation-duration: 60s;
    }
    .slogan .slogan_wrap .photo_wrap ul li:nth-child(even) .photo {
        transform: translateY(67px);
    } 
    .slogan .slogan_wrap .photo_wrap ul li .photo {
        width: 150px;
        height: 213px;
    }

}

.count {
    margin: 220px 0 0 0;
    position: relative;
}
.count .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count::after {
    content: "";
    width: 20%;
    height: 90%;
    position: absolute;
    right: 0;
    bottom: -140px;
    background: url(../images/main/graphics_mountin01.png) no-repeat  center center / contain;
}
.count .tit {
    text-align: center;
}
.count .tit h2 {
    font-size: var(--titsize);
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 37px 0 ;
}
.count .count_list {
    margin: 103px clamp(0px, 12vw ,180px) 0 0;
}
.count .count_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 clamp(70px, 10vw ,190px) ;
}

.count .count_list ul li {
    text-align:  center;
    position: relative;
}
.count .count_list ul li::after {
    position: absolute;
    right: -24%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 40%;
    background-color: var(--main2-c);
    opacity: 0.2;
}
.count .count_list ul li:last-child::after {
    display: none;
}
.count .count_list ul li strong {
    font-size: 20px;
}
.count .count_list ul li h3 {
    font-size: clamp(25px, 2.5vw ,30px);
    font-weight: 500;
    margin-left: 12px;
    color: var(--main2-c);
}
.count .count_list ul li:nth-child(2) h3 {
    margin: 0 30px 0 20px;
}
.count .count_list ul li .counter {
    font-size: clamp(80px, 10vw ,150px);
    font-weight: 700;
    
}
.count .more {
    margin: 90px 0 0 0;
}
.count .more a{
    display: inline-block;
    font-size: var(--btnsize);
    color: var(--dark);
    padding: 0.5294em 1.9412em 0.4706em 1.9412em;
    border-radius: 30px;
    background-color: var(--light);
    transition: .3s;
}
.count .more a:hover {
    background-color: var(--main1-c);
    color: var(--light);
}

@media screen and (max-width:1024px){
    .count {
        margin: 220px 0 0 0;
    }

    .count .tit h2 {
        font-size: var(--titsize);
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 37px 0 ;
    }
    .count .count_list {
        margin: 100px 0 0  0;
    }
    .count .count_list ul {
        flex-direction: column;
        gap:  clamp(70px, 10vw ,190px) 0;
    }

    .count .count_list ul li::after {
        position: absolute;
        right: 50%;
        top: auto;
        bottom: -20px;
        transform: translateY(0) translateX(50%);
        width: 120px;
        height: 1px;
    }

    .count .count_list ul li strong {
        font-size: 17px;
    }
    .count .count_list ul li h3 {
        font-size: clamp(25px, 2.5vw ,30px);
        font-weight: 500;
        margin-left: 12px;
        color: var(--main2-c);
    }
    .count .count_list ul li:nth-child(2) h3 {
        margin: 0;
    }
    .count .count_list ul li .counter {
        font-size: clamp(110px, 10vw ,150px);
        font-weight: 700;
        
    }
}
.facility {
    margin: 290px 0 0 0 ;

}
.facility .tit {
    text-align: center;
}
.facility .tit h2{
    font-size: var(--titsize);
    font-weight: 700;
    line-height: 1.3;
    margin: 17px 0 0 0 ;
}
.facility .facility_list {
    margin: 50px 0 0 0;
}
.facility .facility_list .swiper {
    padding-top: clamp(104px, 20vh ,200px);
    position: relative;
}
.facility .facility_list .swiper .swiper-wrapper{
  transition-property: transform !important;
}

.facility .facility_list .swiper .swiper-slide{
    width: 70vw;
    height: 64vh;
    border-radius: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/facility01.jpg);
    position: relative;
    z-index: -2;
    transition: transform 1s;
    overflow: hidden;
}
.facility .facility_list .swiper .swiper-slide::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(0deg, rgba(32, 28, 26, 1), rgba(32, 28, 26, 0)); */
    background-color: var(--dark);
    opacity: .8;
    z-index: -1;
}
.facility .facility_list .swiper .swiper-slide.bg2 {background-image: url(../images/main/facility02.jpg);}
.facility .facility_list .swiper .swiper-slide.bg3 {background-image: url(../images/main/facility03.jpg);}
.facility .facility_list .swiper .swiper-slide.bg4 {background-image: url(../images/main/facility04.jpg);}
.facility .facility_list .swiper .swiper-slide.bg5 {background-image: url(../images/main/facility05.jpg);}
.facility .facility_list .swiper .swiper-slide.bg6 {background-image: url(../images/main/facility06.jpg);}


.facility .facility_list .swiper .swiper-slide .txt {
    position: absolute;
    bottom: 10%;
    left: 6%;
    opacity: 0;
    transition: .5s;
    transition-delay: .3s;
}

.facility .facility_list .swiper .swiper-slide .txt strong {
    font-size: clamp(17px, 4vw ,32px);
}
.facility .facility_list .swiper .swiper-slide .txt h3 {
    font-size: clamp(26px, 4vw ,40px);
}


.facility .facility_list .swiper .swiper-slide.swiper-slide-active {
    transform: translateY(-18%);
}
.facility .facility_list .swiper .swiper-slide.swiper-slide-active::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 70%;
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(32, 28, 26, 1), rgba(32, 28, 26, 0));
    opacity: .5;
    z-index: -1;
}
.facility .facility_list .swiper .swiper-slide.swiper-slide-active .txt {
    opacity: 1;
    transform: translateY(0px);
}

.facility .ctrl_btn .prev,
.facility .ctrl_btn .next {
    position: absolute;
    background-color: var(--main1-c);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    top: 50%;
    left: 8%;
    z-index: 10;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 17' fill='%23F2EDE9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.91238 9.27296H16.1855C16.4339 9.27296 16.6417 9.18915 16.8091 9.02154C16.9767 8.85413 17.0605 8.64626 17.0605 8.39796C17.0605 8.14965 16.9767 7.94179 16.8091 7.77437C16.6417 7.60676 16.4339 7.52296 16.1855 7.52296H2.91238L8.94317 1.49217C9.11662 1.31872 9.20227 1.11572 9.20013 0.883165C9.1978 0.65061 9.10621 0.443819 8.92538 0.262791C8.74435 0.0938192 8.53941 0.00631914 8.31055 0.000291363C8.08169 -0.00573641 7.87674 0.0817636 7.69571 0.262791L0.298754 7.65975C0.189476 7.76903 0.112476 7.88424 0.0677547 8.00537C0.0228386 8.12651 0.000379562 8.25737 0.000379562 8.39796C0.000379562 8.53854 0.0228386 8.6694 0.0677547 8.79054C0.112476 8.91168 0.189476 9.02689 0.298754 9.13617L7.69571 16.5331C7.8573 16.6947 8.05738 16.7773 8.29596 16.781C8.53455 16.7847 8.74435 16.7021 8.92538 16.5331C9.10621 16.3521 9.19663 16.1442 9.19663 15.9095C9.19663 15.6747 9.10621 15.4667 8.92538 15.2857L2.91238 9.27296Z' /%3E%3C/svg%3E%0A");
    opacity: .4;
}

.facility .ctrl_btn .next {
    left: auto;
    right: 8%;
    transform: rotate(180deg);
}

.facility p {
    text-align: center;
    margin: -50px;
}
.facility .more {
    text-align: center;
    margin: 100px 0 0 0;
}
.facility .more a{
    display: inline-block;
    font-size: var(--btnsize);
    color: var(--dark);
    padding: 0.5294em 1.9412em 0.4706em 1.9412em;
    border-radius: 30px;
    background-color: var(--light);
    transition: .3s;
    
}
.facility .more a:hover {
    background-color: var(--main1-c);
    color: var(--light);
}


@media screen and (max-width:1024px){
    .facility .ctrl_btn {
        display: none;
    }
}

@media screen and (max-width:768px){
    .facility {
        margin: 190px 0 0 0;
    }
    .facility .facility_list {
        margin: 0px 0 0 0;
    }
    .facility .facility_list .swiper .swiper-slide{
        height: 300px;
        border-radius: 20px;
    }
    .facility p {
        text-align: center;
        margin: 50px 0 40px 0;
    }
 
    .facility .more {
        text-align: center;
        margin: 4px 0 0 0;
    }
}

.solutions {
    margin: 300px 0 0 0;
    color: var(--dark);
}

.solutions .tit h2 {
    font-size: var(--titsize);
    line-height: 1.3;
    font-weight: 700;
    margin-top: 17px;
}

.solutions .solutions_list .swiper{
    margin-left: var(--wrapper-mar); 
    margin-top: 87px;

}
.solutions .solutions_list .swiper-slide {
    width: 342px;
    height: 313px;
}
.solutions .solutions_list .swiper-slide a{
    display: block;
    padding: 34px 29px 0px 29px;
    background-color: var(--white);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: background-color .3s background-image .3s;
    position: relative;
    cursor: none !important; 

}
.solutions .solutions_list .swiper-slide a::after {
    position: absolute;
    right: 22px;
    bottom: 31px;
    content: "";
    width: 9em;
    height: 6em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/main/solutions_ico1.png) ;
    transition: .3s;
}
.solutions .solutions_list .swiper-slide.ico1 a::after { background-image: url(../images/main/solutions_ico1.png) ;}
.solutions .solutions_list .swiper-slide.ico2 a::after { background-image: url(../images/main/solutions_ico2.png) ;}
.solutions .solutions_list .swiper-slide.ico3 a::after { background-image: url(../images/main/solutions_ico3.png) ;}
.solutions .solutions_list .swiper-slide.ico4 a::after { background-image: url(../images/main/solutions_ico4.png) ;}
.solutions .solutions_list .swiper-slide.ico5 a::after { background-image: url(../images/main/solutions_ico5.png) ;}
.solutions .solutions_list .swiper-slide.ico6 a::after { background-image: url(../images/main/solutions_ico6.png) ;}

.solutions .solutions_list .swiper-slide a .tit h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: .3s;
    position: relative;
}
.solutions .solutions_list .swiper-slide a .tit h3::after {
    position: absolute;
    opacity: 0;
    left: -10px;
    top: 5px;
    content: "";
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1482 9.27296H0.875C0.626695 9.27296 0.418833 9.18915 0.251417 9.02154C0.0838054 8.85413 0 8.64626 0 8.39796C0 8.14965 0.0838054 7.94179 0.251417 7.77437C0.418833 7.60676 0.626695 7.52296 0.875 7.52296H14.1482L8.11738 1.49217C7.94393 1.31872 7.85828 1.11572 7.86042 0.883165C7.86275 0.65061 7.95433 0.443819 8.13517 0.262791C8.3162 0.0938192 8.52114 0.00631914 8.75 0.000291363C8.97886 -0.00573641 9.18381 0.0817636 9.36483 0.262791L16.7618 7.65975C16.8711 7.76903 16.9481 7.88424 16.9928 8.00537C17.0377 8.12651 17.0602 8.25737 17.0602 8.39796C17.0602 8.53854 17.0377 8.6694 16.9928 8.79054C16.9481 8.91168 16.8711 9.02689 16.7618 9.13617L9.36483 16.5331C9.20325 16.6947 9.00317 16.7773 8.76458 16.781C8.526 16.7847 8.3162 16.7021 8.13517 16.5331C7.95433 16.3521 7.86392 16.1442 7.86392 15.9095C7.86392 15.6747 7.95433 15.4667 8.13517 15.2857L14.1482 9.27296Z' fill='%23F2EDE9'/%3E%3C/svg%3E%0A");
    transition: .3s;
}
.solutions .solutions_list .swiper-slide a .tit p {
    font-family: "SUIT";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 4.5em;
    overflow: hidden;
}

/*hover*/
@media screen and (min-width:1025px){
.solutions .solutions_list .swiper-slide a:hover{
    background-color: var(--main2-c);
    color: var(--light);
}
.solutions .solutions_list .swiper-slide a:hover::after {
    background-image: url(../images/main/solutions_ico1_w.png) ;
}
.solutions .solutions_list .swiper-slide a:hover .tit h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 25px;
}
.solutions .solutions_list .swiper-slide a:hover .tit h3::after {
    opacity: 1;
    /* width: 16px;  */
    left: 0;
}

.solutions .solutions_list .swiper-slide.ico1 a:hover::after { background-image: url(../images/main/solutions_ico1_w.png) ;}
.solutions .solutions_list .swiper-slide.ico2 a:hover::after { background-image: url(../images/main/solutions_ico2_w.png) ;}
.solutions .solutions_list .swiper-slide.ico3 a:hover::after { background-image: url(../images/main/solutions_ico3_w.png) ;}
.solutions .solutions_list .swiper-slide.ico4 a:hover::after { background-image: url(../images/main/solutions_ico4_w.png) ;}
.solutions .solutions_list .swiper-slide.ico5 a:hover::after { background-image: url(../images/main/solutions_ico5_w.png) ;}
.solutions .solutions_list .swiper-slide.ico6 a:hover::after { background-image: url(../images/main/solutions_ico6_w.png) ;}

}


@media screen and (max-width:768px){
    .solutions {
        margin: 200px 0 0 0;
    }
    .solutions .solutions_list .swiper{
        margin-top: 37px;
    
    }
    .solutions .solutions_list .swiper-slide {
        width: 227px;
        height: 208px;
    }
  
    .solutions .solutions_list .swiper-slide a .tit h3 {
        font-size: 17px;
    }
    .solutions .solutions_list .swiper-slide a .tit p {
        -webkit-line-clamp: 2;
        height: 3em;
    }
    .solutions .solutions_list .swiper-slide a::after {
        right: 12px;
        bottom: 17px;
        content: "";
        width: 6em;
        height: 4em;
    }

    /*액티브되면*/

    .solutions .solutions_list .swiper-slide.swiper-slide-active a{
        background-color: var(--main2-c);
        color: var(--light);
    }
    .solutions .solutions_list .swiper-slide.swiper-slide-active a::after {
        background-image: url(../images/main/solutions_ico1_w.png) ;
    }
    
    .solutions .solutions_list .swiper-slide.swiper-slide-active a .tit h3::after {
        display: none;
    }
    
    .solutions .solutions_list .swiper-slide.ico1.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico1_w.png) ;}
    .solutions .solutions_list .swiper-slide.ico2.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico2_w.png) ;}
    .solutions .solutions_list .swiper-slide.ico3.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico3_w.png) ;}
    .solutions .solutions_list .swiper-slide.ico4.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico4_w.png) ;}
    .solutions .solutions_list .swiper-slide.ico5.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico5_w.png) ;}
    .solutions .solutions_list .swiper-slide.ico6.swiper-slide-active a::after { background-image: url(../images/main/solutions_ico6_w.png) ;}
    

}





.medic {
    margin: 290px 0 0 0;
    color: var(--dark);
}

.medic .swiper .swiper-slide {
    display: flex;
    gap: 0 69px;
}
.medic .swiper .swiper-slide .photo {
    width: 488px;
    height: 711px;
    border-radius: 300px;
    overflow: hidden;
    background-color: var(--light);
}

.medic .swiper .swiper-slide .photo img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}
.medic .swiper .swiper-slide .txt {
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
    padding-bottom: 50px;

}
.medic .swiper .swiper-slide.swiper-slide-active .txt {
    opacity: 1;
    transform: translateY(0px);
}
.medic .swiper .swiper-slide .txt .medic_slogan{
    font-family: "Noto Serif KR";
    font-size: 42px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--main2-c);
    position: relative;
}
.medic .swiper .swiper-slide .txt .medic_slogan::before{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 126.88px;
    height: 94.98px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 127 95' fill='%23E8E3DF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.748 3.77083C75.735 0 71.0215 -0.942708 69.6074 0.942708C68.1934 2.35677 71.4928 5.42057 79.5059 10.1341C85.6335 13.4336 90.8184 18.3828 95.0605 24.9818C99.3027 31.1094 101.66 36.7656 102.131 41.9505C92.7038 41.4792 85.1621 43.6003 79.5059 48.3138C73.8496 52.556 71.0215 58.6836 71.0215 66.6966C71.0215 74.2383 73.6139 80.6016 78.7988 85.7865C83.9837 90.5 90.8184 92.8568 99.3027 92.8568C108.73 92.8568 115.8 90.0286 120.514 84.3724C124.756 78.7161 126.877 71.6458 126.877 63.1615C126.877 52.3203 122.163 40.7721 112.736 28.5169C103.309 16.2617 93.6465 8.01302 83.748 3.77083ZM13.0449 5.89193C5.97461 2.59245 1.73242 1.88542 0.318359 3.77083C-1.0957 5.1849 2.20377 8.2487 10.2168 12.9622C15.873 16.2617 20.8223 20.7396 25.0645 26.3958C29.3066 31.5807 31.8991 37.237 32.8418 43.3646C23.4147 42.8932 15.873 45.0143 10.2168 49.7279C4.0892 53.9701 1.02539 60.3333 1.02539 68.8177C1.02539 76.8307 3.61784 83.194 8.80273 87.9076C13.9876 92.6211 20.3509 94.9779 27.8926 94.9779C36.8483 94.9779 44.1543 92.3854 49.8105 87.2005C54.9954 81.5443 57.5879 74.2383 57.5879 65.2826C57.5879 51.6133 53.11 39.5938 44.1543 29.224C34.7272 18.3828 24.3574 10.6055 13.0449 5.89193Z' /%3E%3C/svg%3E%0A");
    z-index: -2;
}
.medic .swiper .swiper-slide .txt h3 {
    margin: 69px 0 0 0;
    font-size: 20px;
    line-height: 1.3;
    
}
.medic .swiper .swiper-slide .txt h3 span {
    font-size: var(--titsize);
    font-weight: 600;
    color: var(--main2-c);
    margin-right: 7px;
}
.medic .swiper .swiper-slide .txt p {
    margin: 15px 0 32px 0;
}

.medic .swiper .swiper-slide .txt .his li{
    position: relative;
    padding-left: 16px;
    margin-bottom: 6px;
}
.medic .swiper .swiper-slide .txt .his li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: var(--dark);
    border-radius: 50%;
}
.medic .swiper .txt .more a{
    display: inline-block;
    font-size: var(--btnsize);
    color: var(--light);
    padding: 0.5294em 1.9412em 0.4706em 1.9412em;
    border-radius: 30px;
    background-color: var(--main1-c);
    transition: .3s;
    margin-top: 60px;
}
.medic .swiper .txt .more a:hover {
    background-color: var(--dark);
    color: var(--light);
}

@media screen and (max-width:1024px){
    .medic {
        margin: 131px 0 0 0;
    }
    
    .medic .swiper .swiper-slide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px 0;
        text-align: center;
    }
    .medic .swiper .swiper-slide .photo {
        width: 310px;
        height: 459px;
    }

    .medic .swiper .swiper-slide .txt .medic_slogan{
        font-size: 32px;
    }

    .medic .swiper .swiper-slide .txt h3 {
        margin: 50px 0 0 0;
        
    }

    .medic .swiper .swiper-slide .txt p {
        margin: 15px 0 32px 0;
    }
    
    .medic .swiper .swiper-slide .txt .his li{
        display: none;
    }
    .medic .swiper .txt .more a{
        margin-top: 10px;
    }

}

@media screen and (max-width:425px){
    .medic .swiper .swiper-slide .txt .medic_slogan{
        font-size: 20px;
    }
    .medic .swiper .swiper-slide .txt h3 {
        margin: 30px 0 0 0;
        
    }
    .medic .swiper .swiper-slide .photo {
        width: 250px;
        height: 368px;
    }
    .medic .swiper .swiper-slide .txt .medic_slogan::before{
        width: 61px;
        height: 45px;
    }
    
}

.box {
    margin: 220px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .review , 
.box .treatment {
    width: 50%;
    height: 80vh;
}
.box .review a, 
.box .treatment a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    cursor: none !important;
} 
.box .review a::before, 
.box .treatment a::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--black40);
    opacity: 1;
    transition: .5s;
    z-index: -1;
}
.box .review a:hover::before, 
.box .treatment a:hover::before {
    opacity: 0;
}
.box .review a{
   
    background: url(../images/main/box01.jpg) no-repeat center center / cover;
}
.box .treatment a{
    
    background: url(../images/main/box02.jpg) no-repeat center center / cover;
}
.box a .txt{
    opacity: .7;
    transition: .5s;
}
.box a:hover .txt{
    opacity: 1;
}
.box a .txt strong {
    font-size: clamp(17px, 3vw , 22px);
}
.box a .txt h2{
    font-size: var(--titsize);
    font-weight: 700;
    line-height: 1.3;
    margin: 14px 0 39px 0;
}

.cursor_box, .cursor_sol {
    display: none;
}




    @media screen and (max-width:768px){
        .box {
            margin:100px 0 0 0;
            flex-direction: column;
            justify-content: unset;
        }
        
        .box .review , 
        .box .treatment {
            width: 100%;
            height: 30vh;
        }

        .box .review a::before, 
        .box .treatment a::before {
           display: none;
        }

        .box a .txt{
            opacity: 1;
        }
        
        .box a .txt strong {
            font-size: clamp(17px, 3vw , 22px);
        }
        .box a .txt h2{
            font-size: var(--titsize);
        }
        .box a .txt p {
            display: none;
        }
    }

    .news {
        margin: 175px 0 0 0;
        
    }

    .news .tit h2{
        margin: 17px 0 0 0;
        font-size: var(--titsize);
        font-weight: 700;
        line-height: 1.3;
    }
    .news .media_wrap {
        margin: 31px 0 0 0;
        padding: 57px  0 0 0;
        display: flex;
        gap: 0 55px;
        border-top: 1px solid var(--light);
        position: relative;
    }
    .news .media_wrap .media {
        width: 49.16%;
    }
    .news .media_wrap .media a {
        display: block;
        
    }

    .news .media_wrap .media a .photo {
        width: 100%;
        height: clamp(284px, 50vw ,414px);
        overflow: hidden;
        border-radius: 20px;
        position: relative;
    }
    .news .media_wrap .media a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }
    .news .media_wrap .media a:hover .photo img {
        transform: scale3d(1.2, 1.2, 1);
    }
    .news .media_wrap .media a .photo .cate {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 7px 33px;
        border-radius: 20px 5px 5px 5px ;
        background-color: var(--main2-c);
        color: var(--light);
        z-index: 5;
    }

    .news .media_wrap .media a .media_tit h3 {
        margin: 22px 0 9px 0;
        font-size: clamp(20px, 3vw, 28px);
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 708px;
        overflow: hidden;
        font-family: "SUIT";
    }
    .news .media_wrap .list {
        width: 46.94%;
    }
    .news .media_wrap .list ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 38px 0 ;
    }
    .news .media_wrap .list ul li a {
        display: flex;
        gap: 0 24px;
    }
    .news .media_wrap .list ul li a .photo {
        min-width: 189px;
        height: 112px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    .news .media_wrap .list ul li a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }
    .news .media_wrap .list ul li a .photo .cate{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 6px 16px;
        border-radius: 10px 3px 3px 3px;
        z-index: 5;
        font-size: 13px;
    }
    .news .media_wrap .list ul li a .photo .cate.helth {
        background-color:  #4A5D47;
    }
    .news .media_wrap .list ul li a .photo .cate.press {
        background-color: #4B475D;
    }
    .news .media_wrap .list ul li a:hover .photo img {
        transform: scale3d(1.2, 1.2, 1);
    }

    .news .media_wrap .list ul li a .list_tit h3 {
        font-size: clamp(18px, 2vw, 22px);
        margin-bottom: 31px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 2.6em;
        overflow: hidden;
        line-height: 1.3;
    }
    
    .news .media_wrap .date {
        font-size: clamp(11px , 1vw , 13px);
        color: var(--light);
        opacity: .8;
        font-family: "SUIT";
    }
    .news .more {
        position: absolute;
        right: 57px;
        top: -34px;
    }
    .news .more a {
        display: block;
        padding-right: 21px;
        position: absolute;
    }
    .news .more a::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 9.75px;
        height: 9.75px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='%23F2EDE9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.3125 5.4375H0V4.3125H4.3125V0H5.4375V4.3125H9.75V5.4375H5.4375V9.75H4.3125V5.4375Z' /%3E%3C/svg%3E%0A");
        transition: .3s;
    }
    .news .more a:hover::after {
        transform: rotate(180deg);
    }

    @media screen and (max-width:1024px){
        
        .news {
            margin: 88px 0 0 0;
            
        }
        .news .wrapper {
        }
        .news .tit h2{
            margin: 13px 0 0 0;
        }
        .news .media_wrap {
            margin: 31px 0 0 0;
            padding: 0  0 0 0;
            display: block;
            border-top: none;
            position: relative;
        }
        .news .media_wrap .media {
            width: auto;
            border-bottom: 1px solid var(--light30);
            padding-bottom:7vw;
        }


        .news .media_wrap .media a .media_tit h3 {
            margin: 13px 0 4px 0;
            width: 100%;
        }
        .news .media_wrap .list {
            width: auto;
        }
        .news .media_wrap .list ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap:  0 ;
        }
        .news .media_wrap .list ul li a {
            display: flex;
            flex-direction: column;
            gap: 0 24px;
            padding: 17px 0;
            border-bottom: 1px solid var(--light30);
        }
        .news .media_wrap .list ul li a .photo {
            min-width: 0;
            height: 50px;
            border-radius: 0;
            overflow: visible;
        }
        .news .media_wrap .list ul li a .photo img {
            display: none;
        }
        .news .media_wrap .list ul li a .photo .cate{
            padding: 6px 16px 5px 16px; 
            border-radius: 30px;
        }
        
        .news .media_wrap .list ul li a .list_tit h3 {
            font-size: clamp(18px, 2vw, 22px);
            margin-bottom: 8px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            max-height: 2.6em;
            overflow: hidden;
            line-height: 1.3;
        }
        
        .news .more {
            position: absolute;
            right: 57px;
            top: auto;
            bottom: -30px;
        }
         .news .more a::after {
        width: 8px;
        height: 8px;
        }
    }

.find {
    margin: 230px 0 0 0;
    padding: 89px 0 126px 0;
    background: url(../images/main/facility06.jpg) no-repeat center center /cover;
    position: relative;
    z-index: 1;
}
.find::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    opacity: .9;
    z-index: -1;
}
.find .tit h2 {
    font-size: var(--titsize);
    font-weight: 700;
    line-height: 1.3;
    margin: 17px 0 41px 0;
}
.find .find_ctn {
    display: flex;
    gap: 0 4vw ;
}

.find .find_ctn .map_area {
    width: 57.63%;
    height: 490px;
}
.find .find_ctn .map_area iframe {
    width: 100%;
    height: 100%;
}
.find .find_ctn .list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 0;
    font-family: "SUIT";
}
.find .find_ctn .list ul li h3 {
    font-size: 28px;
    margin-bottom: 17px;
    font-weight: 600;
}
.find .find_ctn .list ul li span {
    font-size: 13px;
    display: inline-block;
    margin: 22px 0 0 0;
}

@media screen and (max-width:1024px){
    .find {
        margin: 200px 0 0 0;
        padding: 70px 0 80px 0;
    }
    .find .tit {
        text-align: center;
    }
    .find .tit h2 {
        font-size: var(--titsize);
        font-weight: 700;
        line-height: 1.3;
        margin: 13px 0 30px 0;
    }
    .find .find_ctn {
        display: block;
        gap: 0 4vw ;
    }
    
    .find .find_ctn .map_area {
        width: 100%;
        height: 40vh;
    }

    .find .find_ctn .list ul {
        gap: 40px 0;
        margin-top: 50px;
    }
    .find .find_ctn .list ul li {
        border-bottom: 1px solid var(--light30);
        padding: 0 0 40px 0;
    }
    .find .find_ctn .list ul li:last-child {
        border: 0;
        padding: 0;
    } 
    .find .find_ctn .list ul li h3 {
        font-size: 23px;
        margin-bottom: 14px;
    }
    .find .find_ctn .list ul li span {
        margin: 10px 0 0 0;
    }
}
.layerpopup_wrap {
    display: flex;
    gap: 30px;
    position: fixed;
    right: 127px;
    bottom: 3dvh;
    z-index: 2000;
}
.layerpopup {
    width: 375px;
    height: 443px;
    border-radius: 10px;
    background-color: var(--white);
    
    overflow: hidden;
    color: var(--main1-c);
    font-size: var(--btnsize);
}
.layerpopup .popconts {
    height: 399px;
    width: 100%;
    overflow: hidden;
}
.layerpopup .popconts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.layerpopup .popfooter {
    padding: 11px 18px;
    display: flex;
    justify-content: space-between;

}


@media screen and (max-width:1024px){
    .layerpopup {
        display: none;
    }
    .layerpopup.recent {
        display: block;
    }
    .layerpopup_wrap {
        top: 50%;
        left: 50%;
        right: unset;
        bottom: unset;
        transform: translate(-50%, -50%);
    }
    
    .layerpopup {
        width: 375px;
        height: 443px;
        border-radius: 10px;
        background-color: var(--white);
        
        overflow: hidden;
        color: var(--main1-c);
        font-size: var(--btnsize);
    }
    .layerpopup .popconts {
        height: 399px;
        width: 100%;
        overflow: hidden;
    }
    .layerpopup .popconts img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .layerpopup .popfooter {
        padding: 11px 18px;
        display: flex;
        justify-content: space-between;
    }

    .popup_bg {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100dvh;
        background-color: var(--dark50);
        z-index: 999;
    }
}

@media screen and (max-width:375px){
    .layerpopup {
        width: 300px;
        height: 354.4px;
        border-radius: 10px;
        background-color: var(--white);
        overflow: hidden;
        color: var(--main1-c);
        font-size: var(--btnsize);
        padding-bottom: 11px;
    }
    .layerpopup .popconts {
        height: 90%;
        width: 100%;
        overflow: hidden;
    }
    .layerpopup .popconts img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}


/*커서!!*/

@media screen and (min-width:1025px){
.cursor_sol { 
    position: absolute; 
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
    background-color: var(--light);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.06);
    color: var(--main1-c);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .4s, height .4s, opacity .4s ease;
    opacity: 0;
    font-size: 15px;
    font-family: "SUIT";
    transform: translate(-50%, -50%); /* 커서 위치 조정 */
    width: 20px;
    height: 20px;
}

.cursor_sol.on {
    opacity: 1;
    width: 110px;
    height: 110px;
}

.cursor_sol span {
    position: relative;
}
.cursor_sol span::after, 
.cursor_sol span::before{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.62964 9.25927L0 4.62964L4.62964 0L5.15862 0.52898L1.05796 4.62964L5.15862 8.73029L4.62964 9.25927Z' fill='%23201C1A'/%3E%3C/svg%3E%0A");
    
}
.cursor_sol span::before {
    right: -20px;
    left: auto;
    transform: rotate(180deg);
}

}


@media screen and (min-width:1025px){
    .cursor_box { 
        position: absolute; 
        z-index: 999;
        pointer-events: none;
        border-radius: 50%;
        background-color: var(--light50);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.06);
        color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width .4s, height .4s, opacity .4s ease;
        opacity: 0;
        font-size: 15px;
        font-family: "SUIT";
        transform: translate(-50%, -50%); /* 커서 위치 조정 */
        width: 16px;
        height: 16px;
        text-align: center;
        
    }
    
    .cursor_box.on {
        opacity: 1;
        width: 110px;
        height: 110px;
    }
    
    
    }