@import url(common.css);
@import url(default.css);
@import url(font.css);
header {
    width: 100%;
    position: relative;
    top:0;
    left: 0;
    z-index: 300;
}
header .head_line {
    background-color: var(--dark);
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--light);
    text-align: center;
    font-size: 13px;
    line-height: 30px;
}
header .gnb {
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .gnb .menu_open{
    width: var(--header-h);
    height: var(--header-h);
    background-position: center center;
    background-repeat: no-repeat;
    
}

header .gnb .gnb_wrap {
    display: none;
}

header .gnb .util {
    display: flex;
    gap: 0 44px;
    align-items: center;
}
header .gnb .util span {
    position: relative;
    padding-right: 21px;
}
header .gnb .util span::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='%23FBF7F2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 11.6667C3.17917 11.6667 2.90451 11.5524 2.67604 11.324C2.44757 11.0955 2.33333 10.8208 2.33333 10.5C2.33333 10.1792 2.44757 9.90451 2.67604 9.67604C2.90451 9.44757 3.17917 9.33333 3.5 9.33333C3.82083 9.33333 4.09549 9.44757 4.32396 9.67604C4.55243 9.90451 4.66667 10.1792 4.66667 10.5C4.66667 10.8208 4.55243 11.0955 4.32396 11.324C4.09549 11.5524 3.82083 11.6667 3.5 11.6667ZM9.33333 11.6667C9.0125 11.6667 8.73785 11.5524 8.50938 11.324C8.2809 11.0955 8.16667 10.8208 8.16667 10.5C8.16667 10.1792 8.2809 9.90451 8.50938 9.67604C8.73785 9.44757 9.0125 9.33333 9.33333 9.33333C9.65417 9.33333 9.92882 9.44757 10.1573 9.67604C10.3858 9.90451 10.5 10.1792 10.5 10.5C10.5 10.8208 10.3858 11.0955 10.1573 11.324C9.92882 11.5524 9.65417 11.6667 9.33333 11.6667ZM3.00417 2.33333L4.40417 5.25H8.4875L10.0917 2.33333H3.00417ZM2.45 1.16667H11.0542C11.2778 1.16667 11.4479 1.26632 11.5646 1.46563C11.6813 1.66493 11.6861 1.86667 11.5792 2.07083L9.50833 5.80417C9.40139 5.99861 9.25799 6.14931 9.07812 6.25625C8.89826 6.3632 8.70139 6.41667 8.4875 6.41667H4.14167L3.5 7.58333H10.5V8.75H3.5C3.0625 8.75 2.73194 8.55799 2.50833 8.17396C2.28472 7.78993 2.275 7.40833 2.47917 7.02917L3.26667 5.6L1.16667 1.16667H0V0H1.89583L2.45 1.16667Z' /%3E%3C/svg%3E%0A");
}
header .gnb .util .login span::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='%23FBF7F2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12V10.6667H10.6667V1.33333H6V0H10.6667C11.0333 0 11.3472 0.130556 11.6083 0.391667C11.8694 0.652778 12 0.966667 12 1.33333V10.6667C12 11.0333 11.8694 11.3472 11.6083 11.6083C11.3472 11.8694 11.0333 12 10.6667 12H6ZM4.66667 9.33333L3.75 8.36667L5.45 6.66667H0V5.33333H5.45L3.75 3.63333L4.66667 2.66667L8 6L4.66667 9.33333Z' /%3E%3C/svg%3E%0A");
}

header.fixed .gnb .util span::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='%234B4844' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 11.6667C3.17917 11.6667 2.90451 11.5524 2.67604 11.324C2.44757 11.0955 2.33333 10.8208 2.33333 10.5C2.33333 10.1792 2.44757 9.90451 2.67604 9.67604C2.90451 9.44757 3.17917 9.33333 3.5 9.33333C3.82083 9.33333 4.09549 9.44757 4.32396 9.67604C4.55243 9.90451 4.66667 10.1792 4.66667 10.5C4.66667 10.8208 4.55243 11.0955 4.32396 11.324C4.09549 11.5524 3.82083 11.6667 3.5 11.6667ZM9.33333 11.6667C9.0125 11.6667 8.73785 11.5524 8.50938 11.324C8.2809 11.0955 8.16667 10.8208 8.16667 10.5C8.16667 10.1792 8.2809 9.90451 8.50938 9.67604C8.73785 9.44757 9.0125 9.33333 9.33333 9.33333C9.65417 9.33333 9.92882 9.44757 10.1573 9.67604C10.3858 9.90451 10.5 10.1792 10.5 10.5C10.5 10.8208 10.3858 11.0955 10.1573 11.324C9.92882 11.5524 9.65417 11.6667 9.33333 11.6667ZM3.00417 2.33333L4.40417 5.25H8.4875L10.0917 2.33333H3.00417ZM2.45 1.16667H11.0542C11.2778 1.16667 11.4479 1.26632 11.5646 1.46563C11.6813 1.66493 11.6861 1.86667 11.5792 2.07083L9.50833 5.80417C9.40139 5.99861 9.25799 6.14931 9.07812 6.25625C8.89826 6.3632 8.70139 6.41667 8.4875 6.41667H4.14167L3.5 7.58333H10.5V8.75H3.5C3.0625 8.75 2.73194 8.55799 2.50833 8.17396C2.28472 7.78993 2.275 7.40833 2.47917 7.02917L3.26667 5.6L1.16667 1.16667H0V0H1.89583L2.45 1.16667Z' /%3E%3C/svg%3E%0A");
}
header.fixed .gnb .util .login span::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' fill='%234B4844' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12V10.6667H10.6667V1.33333H6V0H10.6667C11.0333 0 11.3472 0.130556 11.6083 0.391667C11.8694 0.652778 12 0.966667 12 1.33333V10.6667C12 11.0333 11.8694 11.3472 11.6083 11.6083C11.3472 11.8694 11.0333 12 10.6667 12H6ZM4.66667 9.33333L3.75 8.36667L5.45 6.66667H0V5.33333H5.45L3.75 3.63333L4.66667 2.66667L8 6L4.66667 9.33333Z' /%3E%3C/svg%3E%0A");
}
footer {
    margin-top: 1000px;
}

aside.top button{
    width: 60px;
    height: 60px;
    position: fixed;
    right: var(--ctn-mar);
    bottom: 3%;
    z-index: 100;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.top button::after {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23FBF7F2' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2.24962V0H17.25V2.24962H0ZM1.725 17.5612L0.144375 15.9806L8.625 7.5L17.1056 15.9806L15.525 17.5612L8.625 10.6612L1.725 17.5612Z' /%3E%3C/svg%3E%0A");
    content: "";
    position: absolute;
}