@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

/* 공동컴포넌트 */
.more a{
    display: inline-block;
    padding:  0.5625em 2.8125em;
    border: 1px solid var(--light);
    color: var(--light);
    transition: all 0.5s;
    cursor: pointer;
}
.more a:hover{
    border: 1px solid var(--tit-c);
    color: var(--light);
    background-color: var(--tit-c);
}


.visual {
    height: 100vh;
    width: 100%;
    position:relative;
    z-index: -1;
}
.visual .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30.59%;
    height: 19.05%;
    background: url(../images/common/logo_light.svg) no-repeat center center / contain;
    
    z-index: 30;
}
.visual .video {
    position: fixed;
    width: 100%;
    height: 100%;
}
.visual .video video {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

.visual .scroll_down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
    color: var(--light);
    font-family: var(--pt);
    font-size: 13px;
    
    
}
.visual .scroll_down span {
    position: relative;
    
}
.visual .scroll_down span::before {
    position: absolute;
    content: "";
    width: 0.5vw;
    height: 1vw;
    border: 1px solid var(--light);
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);
    top: -30px;
    animation: scroll_ani 3s linear infinite;
}
.visual .scroll_down span::after {
    position: absolute;
    content: "";
    width: 0.19vw;
    height: 0.4vw;
    background-color: var(--light);
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    animation: scroll_ani 3s linear infinite;
}

@keyframes scroll_ani {
    0% { transform: translateY(0) translateX(-50%);; }
    50% { transform: translateY(-10px) translateX(-50%);; }
    100% { transform: translateY(0) translateX(-50%);; }
}

.about {
    padding: 92px 0 149px 0;
    background-color: var(--light);
    text-align: center;
    position: relative;
}
.about .tit h2 {
    font-size: 32px;
    color: var(--tit-c);
}

.about .tit strong {
    margin: 71px 0 37px 0;
    display: block;
    font-size: 32px;
    color: var(--tit-c);
}
.about .obj_wrap {
    position: relative;
    padding: 200px 0;
}
.about .obj_wrap .obj01 ,
.about .obj_wrap .obj02 ,
.about .obj_wrap .obj03 {
    margin: 0px 0 82px 0;
    display: block;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about .obj_wrap .obj_img img {
    width: 15vw;
}
.about .obj_wrap .obj_txt{
    margin: 82px 0 0 0;
    display: block;
}


.service .arcodian_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.service .arcodian_wrap .box {
    width: 100%;
    border-radius: 100px;
    background: url(../images/main/service_box01.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 156px 0 88px 0;
    color: var(--light);
    text-align: center;
    margin-bottom: 200px;
}
.service .arcodian_wrap .box.bg02 { background: url(../images/main/service_box02.jpg) no-repeat center center / cover; }
.service .arcodian_wrap .box.bg03 { background: url(../images/main/service_box03.jpg) no-repeat center center / cover; }
.service .arcodian_wrap .box.bg04 { background: url(../images/main/service_box04.jpg) no-repeat center center / cover; }

.service .arcodian_wrap .box h3 {
    margin: 51px 0 18px 0;
    font-size: 32px;
    font-weight: 400;
}

.service .arcodian_wrap .box p {
    margin-bottom: 77px;
}